body{
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 300;
}

.page {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    box-sizing: border-box;
}

.material-button {
    display: inline-block;
    border: none;
    background-color: inherit;
    color: inherit;
}
.material-button:focus { outline: none; }
